Source: hda-platform
Section: web
Priority: extra
Maintainer: Frans Meulenbroeks <fransmeulenbroeks@gmail.com>
Build-Depends: debhelper (>= 7.0.50)
Standards-Version: 3.9.5
Homepage: http://www.amahi.org/

Package: hda-platform
Architecture: all
Depends: hda-ctl, apache2, libapache2-mod-fcgid, ruby, rake, ruby-rack-ssl, ruby-ldap, ruby-mysql, ruby-fcgi,ruby-safe-yaml,ruby-dev,ruby-gruff,ruby-gd, rails, patch, hddtemp, ntpdate, pastebinit, ${misc:Depends}
Description: Amahi Home Digital Assistant web platform
 The Amahi Home Server is more than what you'd expect from a GNU/Linux
 home server. We call it "Home Digital Assistant" or HDA.  The Amahi
 Home Server is designed for home and small office environments where
 the 'technical support' staff do not want the job!  It is easy to use
 and offers cross-platform compatibility (PCs, Mac, GNU/Linux,
 Playstation, Xbox, you name it.)  The Amahi server is open source and
 Linux-based, which means it's reliable and virus-free.
